.homepage-background {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('bar.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.index-background {
  background: #ffffff;
}

@media (max-width: 420px) {
  .homepage-background {
    height:100vh;
    width: 100vw;
  }
}
