.btn-enter {
  text-align: center;
  background-color: #4e89ae;
  color: #white;
  width: 140px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
    color: #898b8a;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.btn-homepage {
  background-color: white;
  border: 1px solid #c00000;
  padding: 24px;
  border-radius: 8px;
  color: #898b8a;
  text-decoration: none;
  animation: btn-fade-in 1s 2s forwards;
  opacity: 0;
  &:hover {
    text-decoration: none;
    color: #1d2d50;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}

@keyframes btn-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
