/* Fade must be on Div to allow h1 to slide up */
.fade {
 -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

 -webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.page-title {
  font-size: 4rem;
  color: #ffffff;
  font-family: "Roboto";
  padding-left: 8px;

  animation: text-move 1s 1s forwards;
}

@keyframes text-move {
  100% {
    transform: translateY(-180px);
  }
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 1020px) {
  .page-title {
    font-size: 6rem;
  }
}

@media (max-width: 725px) {
  .page-title {
    font-size: 5rem;
  }
}

@media (max-width: 615px) {
  .page-title {
    font-size: 4rem;
  }
}

@media (max-width: 490px) {
  .page-title {
    font-size: 3rem;
  }
}

@media (max-width: 325px) {
  .page-title {
    font-size: 2rem;
  }
}
